body{
   /* Set line spacing */
   line-height: 1.25;
}


header, nav{
    /* Set padding and margin */
    padding: 8px 20px 3px 15px;
    margin: 30px;
    margin-left: 30px;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 50px;
    padding: 15px;
    font-size: 30px;
    background-color: bisque;

}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: #000000;

}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: wavy underline;
    text-transform: uppercase;
    text-underline-offset: 8px;
}


h1{
   /*Set font and font size*/
   font-family: "Merriweather", Anton, “Times New Roman”; 
   font-size: 55px;

}

h2{
    /*Set font, font size, and alignment*/
    font-family: "Anton", "Times New Roman", Arial;
    font-size: 35px;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 25px;

}

h1, h2, h3{
    /*Set margin */
    margin: 25px;

}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #778A9C;
    display: grid;
    border-radius: 35px;
    row-gap: 10px;
    column-gap: 40px;
   

}

.grid div{
    /* Set border properties, padding, and background color */
    border: 3px solid #000000;
    border-radius: 35px;
    padding: 10px;
    background-color: whitesmoke;

}

.grid img{
    /* Set width, margin, and display */
    width: 300px;
    margin: auto;
    display: block;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 6px 0px 10px bisque;
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -6px 0px 10px bisque;

}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: 6px 0px 10px bisque, -6px 0px 10px bisque;
}
    

p + p {
     /* Set indentation */
     text-indent: 20px;
  }
  
p{
     /* Set margin */
     margin-bottom: 8px;
     margin-left: 10px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    margin: 0px 0px 5px 80px;
    line-height: normal; 
    list-style-image: url("../images/sketchbook.png");
}
